header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7d8e95;
    border-bottom: 10px solid #000; 
    padding: 10px 20px;
}

h1 {
    font-family: "Press Start 2P";
    color: #fff;
    text-shadow: 5px 5px 0px #000;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "Fira Code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #ffbb98;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #ffbb98;  
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0;
    transition: transform 100ms linear, opacity 200ms ease-in-out;
    opacity: 0.8;
}

#button:hover {
    transform: scale(1.1);
    opacity: 1;
}

section {
    background-color: #fbe0c3;
    height: 100px;
}

footer {
    background-color: #344648;
    color: #fff;
    height: 80px;
}