.button {
    display: inline-block;
    background-color: #ffbb98;  
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0;
    transition: transform 100ms linear, opacity 200ms ease-in-out;
    opacity: 0.8;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.button:hover {
    transform: scale(1.1);
    opacity: 1;
}